In [1]:
import pandas as pd

In [2]:
dummies = pd.DataFrame()

In [3]:
dummies['gender'] = ['male', 'male', 'female', 'female']
dummies['age'] = [1, 2, 3, 4]
dummies

   gender  age
0    male    1
1    male    2
2  female    3
3  female    4

In [4]:
pd.get_dummies(dummies)

   age  gender_female  gender_male
0    1              0            1
1    2              0            1
2    3              1            0
3    4              1            0

In [5]:
pd.get_dummies(dummies, drop_first=True)

   age  gender_male
0    1            1
1    2            1
2    3            0
3    4            0

In [6]:
dummies['region'] = ['north', 'south', 'east', 'west']
dummies

   gender  age region
0    male    1  north
1    male    2  south
2  female    3   east
3  female    4   west

In [7]:
pd.get_dummies(dummies, drop_first=True)

   age  gender_male  region_north  region_south  region_west
0    1            1             1             0            0
1    2            1             0             1            0
2    3            0             0             0            0
3    4            0             0             0            1