This analysis is borrowed from here https://pymc3.readthedocs.io/en/latest/notebooks/GLM-poisson-regression.html 

The original authors used a different python package; I am attempting to replicate their analysis using sklearn's Poisson Regression

In [338]:

# decide poisson theta values
theta_noalcohol_meds = 1    # no alcohol, took an antihist
theta_alcohol_meds = 3      # alcohol, took an antihist
theta_noalcohol_nomeds = 6  # no alcohol, no antihist
theta_alcohol_nomeds = 36   # alcohol, no antihist

# create samples
q = 1000
df = pd.DataFrame({
        'nsneeze': np.concatenate((np.random.poisson(theta_noalcohol_meds, q),
                                   np.random.poisson(theta_alcohol_meds, q),
                                   np.random.poisson(theta_noalcohol_nomeds, q),
                                   np.random.poisson(theta_alcohol_nomeds, q))),
        'alcohol': np.concatenate((np.repeat(0, q),
                                   np.repeat(1, q),
                                   np.repeat(0, q),
                                   np.repeat(1, q))),
        'nomeds': np.concatenate((np.repeat(0, q),
                                      np.repeat(0, q),
                                      np.repeat(1, q),
                                      np.repeat(1, q)))})
df['alcohol-nomeds'] = df['alcohol'] * df['nomeds']

In [339]:
df.head()

   nsneeze  alcohol  nomeds  alcohol-nomeds
0        0        0       0               0
1        0        0       0               0
2        3        0       0               0
3        1        0       0               0
4        0        0       0               0

In [340]:
X = df.loc[:, df.columns != 'nsneeze']
X_vals = X.values
y = df['nsneeze']
y_vals = y.values

In [341]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [342]:
pr = PoissonRegressor()
pr.fit(X, y)

PoissonRegressor()

In [343]:
pr.coef_

array([0.57274246, 0.87823783, 1.01807528])

In [344]:
np.exp(pr.coef_)

array([1.77312312, 2.40665504, 2.76786228])

In [345]:
pr.score(X, y)

0.892793864826645

In [346]:
pr.intercept_

1.0005072697482842